{% extends 'base.html.twig' %}

{% block body %}
    <table class="table mb-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CMS</th>
                <th scope="col">CMS version</th>
                <th scope="col">PHP version</th>
            </tr>
        </thead>
        <tbody>
        {% for website in websiteData %}
            <tr>
                <td><a href="{{ website.url }}" target="_blank">{{ website.name }}</a></td>
                <td>{{ website.cms }}</td>
                <td>{{ website.cms_version }}</td>
                <td>{{ website.php_version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('logout') }}" class="btn btn-outline-warning">Logout</a>
{% endblock %}
